li{
color: green;
font-size: 12px;
}

h1{
    color: #d351d3;
    border: 3px solid #ff0000;
}

body{
    background-image: url('https://static1-br.millenium.gg/entity_articles/0/67/30/@/95438-jax-cajado-divino-article_m-1.png');
    background-repeat: no-repeat;
    background-size: cover;
}