* {
    padding: 0;
    margin: 0;
  }
  .flex-container {
    box-sizing: border-box;
    padding: 10px;
    background-color: black;
    color: white;
    min-height: 100vh;
    display: flex;
    gap: 5px;
  }
  .flex-item {
    background-color: #ff0044;
    /* flex-basis: 150px; */
    /* flex-grow: ; */
    /* flex-shrink: ; */
    flex: 1 1s 150px;
  }